
:root {
  --color-Black: hsl(0, 0%, 0%);
  --color-DarkGray: hsl(0, 0%, 55%);
  --color-VeryDarkGray: hsl(0, 0%, 41%);
  --color-White: hsl(0, 0%, 100%);
  --color-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*, *::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
 
 
 
}


.logo{
  width: 130px;
}


.container{
  width: 100%;
  height: 100vh;
}


.img-container {
  padding: 1.5rem;
  display: grid;
  width: 100%;
  height: 100vh;
  background: url(images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-text{
  display: grid;
  align-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: var(--color-White);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 180px;
  border: 4px solid var(--color-White);
  letter-spacing: 5px;
  line-height: 1.1;
}

.content, .grids{
  margin: 5rem 1rem;
  display: grid;
grid-gap: 50px;
  text-align: center;
}

.img{
  width: 100%;
}

.content-container{
  display: grid;
  grid-gap: 20px;

}

.content-heading{
  font-family: 'Josefin Sans', sans-serif;
  /* font-size: 1.6rem; */
  font-weight: 300;
  color: var(--color-Black);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.1;
}

.paragraph{
  font-family: 'Alata', sans-serif;
  color: var(--color-VeryDarkGray);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
  word-wrap:normal;
}

.sidebar{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-Black);
  padding: 1.5rem;
  transform: translateX(500px);
  transition:all linear 0.4s;
}

.show-sidebar{
  transform: translateX(0px);
  transition:all linear 0.4s;
}
.grid{
  display: grid;
  grid-gap: 100px;
}



.grids{
  display: grid;
  grid-gap: 50px;
  justify-items: center;
}



ul{
  display: grid;
  grid-gap: 15px;
}

li{
  list-style-type: none;

}

a{
color: var(--color-White);
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.9rem;
}

.grids-imgs{
  display: grid;
  grid-gap: 30px;
 
}

.grid-img{
  width: 100%;
}

.one {
  position: relative;
  

}

.overlay {
  position: absolute;
  width: 100%;
  height: 98%;
  box-shadow: inset 0px 0px 100px 25px rgb(0 0 0 / 60%);
  top: 0px;
}


.bottom-one {
  position: absolute;
  top: 62px;
  left: 10px;
  
}

.bottom-paragraph{
  color: var(--color-White);
  text-align: initial;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}


.see-all{
  display: grid;
  width: 200px;
  height:50px;
  border: 2px solid var(--color-VeryDarkGray);
  align-content: center;
}

.seeall{
  color: var(--color-Black);
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Alata', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer{
  width: 100%;
  /* height: 70%; */
  background-color: var(--color-Black);
  display: grid;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}
.footer-content{
  margin-top: 5rem;
  display: grid;
  grid-gap: 30px;
}

.footer-list a{
  font-family: 'Alata', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.socials{
  margin: 0.5rem;
}

.footer-text{
  font-family: 'Alata', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-DarkGray);
}


.desktop-img, .desktop-grids, .desktop-list, .desktop-img-text, .desktop-footer{
  display: none;
}


@media(min-width:768px){
  .desktop-img, .desktop-list{
    display: block;
  }

  .sidebar, .grids, .footer, .img-text, .hamburger, .img{
    display: none;
  }
 
.img-container {
  padding: 2rem;
  display: grid;
  width: 100%;
  height: 67vh;
  background: url(images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  
} 



.desktop-img-text {
  display: grid;
  align-content: center;
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: var(--color-White);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  width: 350px;
  height: 180px;
  border: 2px solid var(--color-White);
  letter-spacing: 5px;
  line-height: 1.1;
}


ul{
  display: flex;
  grid-gap: 0px;

}






a {

  padding: 10px 10px;
  position: relative;
}







.desktop-list a{
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.desktop-img{
  width: 450px;
}

.content {
  position: relative;
  /* margin: 0 4rem; */
  display: flex;
  grid-gap: 50px;
  text-align: center;
}

.content-container {
  position: absolute;
  width: 400px;
  height: 260px;
  background-color: var(--color-White);
  left: 347px;
  top: 94px;
  padding: 2rem;
}

.paragraph{
  font-size: 0.8rem;
}

.heading-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-all {
  width: 115px;
  height: 40px;
  align-content: center;
  justify-content: center;
}

.seeall {
  font-size: 1rem;

}

.desktop-grids{
  display: grid;
  justify-content: center;
  margin: 4rem 0;
  grid-gap: 20px;
}

.desktop-grid-img{
  width: 160px;
}
.grid-flex {
  display: flex;
  column-gap: 33px;
}

.one{
  display: grid;
  grid-gap: 20px;
}

.bottom-one {
  top: 206px;
}

.bottom-paragraph {
font-size: 1.5rem;

}

.overlay {
  height: 100%;
}

.desktop-footer{
  display: block;
  width: 100%;
  /* height: 100%; */
  background-color: var(--color-Black);
  padding: 1rem;
}

.footer-logo{
  width: 150px;
}

.footer-list a ,.footer-text{
  font-size: 1rem;
  color: var(--color-DarkGray);
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem 0;

}

.socials {
  width: 20px;
}


}




@media (min-width:1024px) {

 
.img-container {
  padding: 2rem;
  height: 80vh;
} 


.desktop-img-text {
  display: grid;
  align-content: center;
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: var(--color-White);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  width: 490px;
  height: 220px;
}


ul{
  grid-gap: 10px;
}

a:hover, .socials:hover, .see-all:hover{
  cursor: pointer;
}

.see-all:hover, .seeall:hover{
  background-color: var(--color-Black);
  color: var(--color-White);
  transition: all 0.3s linear;
}

.one:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s linear;
}





a {

  padding: 10px 10px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 50%; 
  left: 25%; 
}






.desktop-list a{
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.desktop-img{
  width: 550px;
}

.content {
  position: relative;
  margin: 0 4rem;
  display: flex;
  grid-gap: 50px;
  text-align: center;
}

.content-container {
  width: 400px;
  height: 260px;
  left: 449px;
  top: 117px;
  padding: 2rem;
  text-align: left;
}


.paragraph{
  font-size: 0.8rem;
}

.heading-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-all {
  width: 115px;
  height: 40px;
  align-content: center;
  justify-content: center;
}

.seeall {
  font-size: 1rem;

}

.desktop-grids{
  display: grid;
  justify-content: center;
  margin: 4rem 0;
  grid-gap: 20px;
}

.desktop-grid-img{
  width: 200px;
}
.grid-flex {
  display: flex;
  column-gap: 33px;
}

.one{
  display: grid;
  grid-gap: 20px;
}

.bottom-one {
  top: 271px;
}

.overlay {
  height: 100%;
}

.desktop-footer{
  display: block;
  width: 100%;
  /* height: 100%; */
  background-color: var(--color-Black);
  padding: 1rem;
}

.footer-logo{
  width: 150px;
}

.footer-list a ,.footer-text{
  font-size: 1rem;
  color: var(--color-DarkGray);
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 2rem 0;

}


.socials {
  width: 20px;
}


}


@media (min-width:1366px) {

  .logo {
    width: 195px;
}

  .img-container {
  height: 110vh;
  padding: 4rem;
 
}

.content {
  margin: 0 10rem;
}

.content-container {
width: 500px;
  height: 301px;
  left: 444px;
  top: 124px;
  padding: 4rem;
}

.desktop-grid-img {
  width: 231px;
}

}

@media (width:1440px) {
  .content {
    margin: 0 13rem;
  }
  
}